.slide {
  position: absolute;
  right: 0;
  margin: 2rem;
}
.control {
  justify-content: end;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* font-size: 14px; */
  font-weight: 500;
  color: #888888;
}
.slideList {
  position: absolute;
  right: 2rem;
  top: 100px;
}
.slideList p {
  margin: 1rem;
}
.allSlide {
  background-color: white;
}
/* .showhide {
  /* color: white; */
/* background-color: black;
position: fixed;
right: 20rem;
top: 5rem;
z-index: 5; */
