@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tajawal", sans-serif;
  font-style: normal;
}

.slide {
  position: absolute;
  right: 0;
  margin: 2rem;
}
.control {
  justify-content: end;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* font-size: 14px; */
  font-weight: 500;
  color: #888888;
}
.slideList {
  position: absolute;
  right: 2rem;
  top: 100px;
}
.slideList p {
  margin: 1rem;
}
.allSlide {
  background-color: white;
}
/* .showhide {
  /* color: white; */
/* background-color: black;
position: fixed;
right: 20rem;
top: 5rem;
z-index: 5; */
