.speakerimg {
  width: 350px;
  height: 211px;
  object-fit: cover;
  border-radius: 36px;
}
.line {
  border-bottom: solid 1px black;
  max-width: 350px;
  height: 1;
}
.speakerCard {
  max-width: 350px;
}
.speakerCard p {
  max-width: 350px;
}
.speakerCard h1 {
  font-size: 30px;
  font-size: 500;
}
.speakerCard {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}
.speakEvents {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
